
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="-1" />
	<meta name="description" content="here goes the board description" />
	<meta name="keywords" content="some keywords for your board" />
	<link rel="stylesheet" type="text/css" href="/jforum/templates/default/styles/en_US.css" />
<!-- 	<link rel="stylesheet" type="text/css" href="/jforum/templates/default/styles/bootstrap.min.css" />
 -->	
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/jforum/templates/default/styles/style.css" />
	<link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


    <script src = "/jforum/templates/default/js/jquery-3.6.0.min.js"></script>
    <script src = "/jforum/templates/default/js/bootstrap.min.js"></script>

	<title>Generous Gardener Forum</title>
</head>

<script>
function setCookie(cname,cvalue,exdays) {
  var d = new Date();
  d.setTime(d.getTime() + (exdays*24*60*60*1000));
  var expires = "expires=" + d.toGMTString();
  document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
}

function getCookie(cname) {
  var name = cname + "=";
  var decodedCookie = decodeURIComponent(document.cookie);
  var ca = decodedCookie.split(';');
  for(var i = 0; i < ca.length; i++) {
    var c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) {
      return c.substring(name.length, c.length);
    }
  }
  return "";
}

function checkSession() {
    var sessionInitialized=getCookie("session_initialized");
    if (sessionInitialized == '') {
    	document.getElementById("messageNotificationDiv").innerHTML = "<a href=\"test.html\" class=\"notification1 close\" onclick=\"return setMessageRead();\">Test 1</a>";

    } else {
    	document.getElementById("messageNotificationDiv").innerHTML = "";
    }
}

function setMessageRead() {
    setCookie("session_initialized", "1", 1);
}
</script>




<body class="en_US" onload="checkSession()">
<!--
Original theme from phpBB (http://www.phpbb.com) subSilver
Created by subBlue design
http://www.subBlue.com

Modifications by JForum Team
-->

<header>

	<nav class="navbar navbar-light bg-light">
	  <div class="container">
	  	<a href="${homepageLink}" class="float-start d-none d-lg-inline"><img src="${contextPath}/templates/${templateName}/images/logo.jpg" vspace="1" alt="[Logo]" />
	    </a>
	   <div class="navbar-brand">
		 <a href="${homepageLink}"><h3 class="forum_name">Generous Gardener Forum</h3> </a>
	   </div>
		<!-- search -->
       <form class="d-flex" accept-charset="UTF-8" action="${JForumContext.encodeURL("/jforum")}" method="get" id="formSearch" name="formSearch">
		<input type="hidden" name="module" value="search" />
		<input type="hidden" name="action" value="search" />
		<input type="hidden" name="match_type" value="all" id="all_terms" />
		<input type="hidden" name="search_in" value="ALL" id="entireMessage" />
		<input type="hidden" name="sort_by" value="relevance" />
		<input type="hidden" name="search_date" value="ALL" />
		<!-- module=search&action=search&search_keywords=abc123&match_type=all&search_in=ALL&search_forum=&sort_by=relevance&search_date=ALL&user_id=&username= -->
      	<!-- search button  -->
	     <input class="form-control-sm me-2" type="search" placeholder="Search" aria-label="Search" name="search_keywords">
<!-- 	     <input type="radio" name="match_type" value="all" id="all_terms" checked="checked"/><label for="all_terms">Search <b>all</b> terms</label><br/>
		 <input name="search_in" type="radio" value="ALL" checked="checked" id="entireMessage" />
		 <label for="entireMessage">Entire message</label> -->
	     <button class="btn btn-outline-success btn-sm" type="submit" value="Search"><i class="fas fa-search"></i></button>
	   </form>



	<#if !logged && !sso>

		<!-- log in button -->
		<button type="button" class="btn btn-outline-success btn-sm d-none d-lg-inline" id="loginbutton" data-bs-toggle="modal" data-bs-target="#exampleModal1">
		  Log In
		</button>

		<!--Login Modal -->
		<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		          <h5 class="modal-title" id="exampleModalLabelLogin">Login</h5>
		          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      <div class="modal-body">
			      <div>
			        	By continuing, you agree to our <a href="${JForumContext.encodeURL("/user/insert")}"> User Agreement and Privacy Policy</a>.  
			        	
			      </div>
			      </br>

			     <form action="${JForumContext.encodeURL("/jforum")}" method="post" name="loginform" id="loginform" accept-charset="UTF-8">
					  <input type="hidden" name="module" value="user" />
					  <input type="hidden" name="action" value="validateLogin" />
					  <input type="hidden" name="OWASP_CSRFTOKEN" value="GUVR-4DQ4-YFHK-UXCP-JRD1-W9NV-LB0E-U0T6" />				  
				  	  <input type="hidden" name="returnPath" value="http://localhost/jforum/forums/list.page" />

					  <!-- Email input -->
					  <div class="form-outline mb-4">
					    <input type="text" id="formLoginUsername" class="form-control post" name="username"/>
					    <label class="form-label" for="formLoginUsername">Username </label>
					  </div>

					  <!-- Password input -->
					  <div class="form-outline mb-4">
					    <input type="password" id="formLoginPassword" class="form-control post" name="password" autocomplete="off"/>
					    <label class="form-label" for="formLoginPassword">Password</label>
					  </div>

					  <!-- 2 column grid layout for inline styling -->
					  <div class="row mb-4">
					    <div class="col d-flex justify-content-center">
					      <!-- Checkbox -->
					      <div class="form-check">
					        <input class="form-check-input" type="checkbox" value="" id="autologin" checked/>
					        <label class="form-check-label" for="autologin"> Remember me </label>
					      </div>
					    </div>

					    <div class="col">
					      <!-- Simple link -->
					      <a href="#!">Forgot password?</a>
					    </div>
					  </div>
						<#if autoLoginEnabled>
									&nbsp;&nbsp; &nbsp;&nbsp;
									<label for="autologin">${I18n.getMessage("Login.autoLogon")}</label> <input class="text" type="checkbox" name="autologin" id="autologin"/>
						</#if>

					  <!-- Submit button -->
					  <div class="center">
					  	<input type="hidden" name="redirect">
					    <button type="submit" class="btn btn-primary btn-block mb-4 mainoption" value="Login" name="login">Sign in</button>
					  </div>

					  <!-- Register buttons -->
					  <div class="text-center">
					    <p>Not a member? <a href="#!" data-bs-toggle="modal" data-bs-target="#signupModal">Register</a></p>
					    <p>or sign up with:</p>
					    <button type="button" class="btn btn-primary btn-floating mx-1">
					      <i class="fab fa-facebook-f"></i>
					    </button>

					    <button type="button" class="btn btn-primary btn-floating mx-1">
					      <i class="fab fa-google"></i>
					    </button>

					    <button type="button" class="btn btn-primary btn-floating mx-1">
					      <i class="fab fa-twitter"></i>
					    </button>

					    <button type="button" class="btn btn-primary btn-floating mx-1">
					      <i class="fab fa-github"></i>
					    </button>
					  </div>
				  </form>
			  </div>
		    </div>
		  </div>
		</div>

		<script type="text/javascript">
		/* <![CDATA[ */
		function checkemail(str) {
		    var filter=/^([\w]+(?:(?:-|\+|\.)[\w]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,20}(?:\.[a-z]{2})?)$/i
		    if (filter.test(str)) return true;
		    else return false;
		}

		function validateRegistrationForm(f)
		{
			if (f.username.value == "") {
				alert("Please, fill the User field");
				f.username.focus();
				
				return false;
			}
			
			if (f.email.value == "" || checkemail(f.email.value) != true) {
		        alert("Please, fill the Email Address field");
		        f.email.focus();

		        return false;
		    }
			
			if (f.password.value == "") {
				alert("Please, fill the Password field");
				f.password.focus();
				
				return false;
			}
			
			if (f.password_confirm.value == "") {
				alert("Please, fill the Confirmation Password field");
				f.password_confirm.focus();
				
				return false;
			}
			
			if (f.password.value != f.password_confirm.value) {
				alert("The confirmation password doesn't match.");
				return false;
			}
			
			return true;
		}

		function newCaptcha()
		{	
			document.getElementById("captcha_img").src = "/jforum/captcha/generate.page?timestamp="+new Date().getTime();
		}
		/* ]]> */
		</script>


		<!-- Sign up Button trigger modal -->
		<button type="button" class="btn btn-success btn-sm d-none d-lg-inline" data-bs-toggle="modal" data-bs-target="#signupModal">
		  Sign Up
		</button>

		<!-- Modal -->
		<div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel2">Sign Up</h5>
			        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			      </div>

				<div class="modal-body">
				   <div>
			         By continuing, you agree to our  <a href="${JForumContext.encodeURL("/user/insert")}"> User Agreement and Privacy Policy</a>.  
			      </div>
			      </br>
				  <form id="formregister" accept-charset="UTF-8" name="formregister" action="/jforum/jforum.page" method="post" onsubmit="return validateRegistrationForm(this);">
					  <input type="hidden" name="action" value="insertSave" />
					  <input type="hidden" name="module" value="user" />
					  <input type="hidden" name="OWASP_CSRFTOKEN" value="UK62-FBGY-FGPU-A3GJ-D597-YFRU-WIM3-G31B" />
					  <!-- -->
					  <div class="form-outline mb-4">
					  	<input type="text" id="formSignupUsername" class="form-control post" name="username" value=""/>
					  	<label class="form-label" for="formSignupUsername">Username</label>
					  </div >

					  <!-- Email input -->
					  <div class="form-outline mb-4">
					    <input type="email" id="formSignupEmail" class="form-control post" name="email" value=""/>
					    <label class="form-label" for="formSignupEmail">Email address</label>
					  </div>

					  <!-- Password input -->
					  <div class="form-outline mb-4">
					    <input type="password" id="password" class="form-control"  type="password" name="password" autocomplete="off"/>
					    <label class="form-label" for="formSignupPassword">Password</label>
					  </div>

					  <!-- Password confirmation input  -->
					  <div class="form-outline mb-4">
					    <input type="password" id="formSignupPasswordConfirm" class="form-control post" name="password_confirm" autocomplete="off" />
					    <label class="form-label" for="formSignupPasswordConfirm">Confirm password </label>
					  </div>


					  <!-- Checkbox -->
					  <div class="form-check d-flex justify-content-center mb-4">
					    <input class="form-check-input me-2" type="checkbox" value=""id="form2Example3" checked />
					    <label class="form-check-label" for="form2Example3">
					      Subscribe to our newsletter
					    </label>
					  </div>

					  <!-- Submit button -->
					  <div class="center">

					    <button type="submit" class="btn btn-primary btn-block mb-4 mainoption" value="Submit" name="submit">Sign up</button>
					    <!-- <input class="liteoption" type="reset" value="Reset" name="reset" /> -->

					  </div>

					  <!-- Register buttons -->
					  <div class="text-center">
					    <p>or sign up with:</p>
					    <button type="button" class="btn btn-primary btn-floating mx-1">
					      <i class="fab fa-facebook-f"></i>
					    </button>

					    <button type="button" class="btn btn-primary btn-floating mx-1">
					      <i class="fab fa-google"></i>
					    </button>

					    <button type="button" class="btn btn-primary btn-floating mx-1">
					      <i class="fab fa-twitter"></i>
					    </button>

					    <button type="button" class="btn btn-primary btn-floating mx-1">
					      <i class="fab fa-github"></i>
					    </button>
					  </div>
					</form>

			      </div>

			    </div>
			  </div>
        </div>
        
    </#if>


<!-- 	<script type="text/javascript">
		var myAlert = document.getElementById('myAlert')
		myAlert.addEventListener('closed.bs.alert', function () {
			$(document).ready(function() {
				  $('.notification1').click(function();
				});
		})

    </script>
 -->

<!--    <#if logged && (session.privateMessages > 0)>


<a href="${JForumContext.encodeURL("/pm/inbox")}" class="notification1 alert close" onclick="$('.close').click(function() {$('.alert').hide();})">
  <span><i class="fa fa-envelope" style="font-size:24px; color:black"></i></span>
  <span class="numberCircle1">${session.privateMessages}</span>
</a>
  </#if> -->

<!-- $('.close').click(function() {
   $('.alert').hide();
})
 -->
<!--    <#if logged && (session.privateMessages > 0)>
    <div class="alert alert-warning" role="alert" id="myAlert">
		<a href="${JForumContext.encodeURL("/pm/inbox")}" class="notification1" id="myMailAlert">
		  <span><i class="fa fa-envelope" style="font-size:24px; color:black"></i></span>
		  <span class="numberCircle1">${session.privateMessages}</span>
		</a>
	</div>
  </#if>
 -->
 <div id="messageNotificationDiv">
<!--    <#if logged && (session.privateMessages > 0)>
		<a href="${JForumContext.encodeURL("/pm/inbox")}" class="notification1" id="mailalert">
		  <span><i class="fa fa-envelope" style="font-size:24px; color:black"></i></span>
		  <span class="numberCircle1">${session.privateMessages}</span>
		</a>
  </#if> -->
</div>

<!-- <script>
    $('#mailalert').click(function() {
   $('#mailalert').hide();
})
</script> -->
<script>
var button = document.getElementById("mailalert"),
  count = 0;
button.onclick = function() {
  count += 1;
    if(counter=1)
    document.getElementById("mailalert").style.visibility = "hidden"
    document.getElementById("mailalert").disabled=true
}

</script>

<!--  	<script type="text/javascript">
		var myAlert = document.getElementById('myAlert')
		myAlert.addEventListener('closed.bs.alert', function () {
			document.getElementById('myMailAlert').focus()
		})

    </script>
       Account dropdown 
		 -->

        <div class="dropdown">
		  <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"> <img src="${contextPath}/templates/${templateName}/images/account-icon-png-0.gif" width="20"/>
		  </button>
		  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
		  	<#if logged>

		    <li><a id="myprofile" class="dropdown-item" href="${JForumContext.encodeURL("/user/edit/${session.userId}")}"><i class="far fa-user"></i> Profile</a></li>
		    <li><a id="privatemessages" class="dropdown-item" href="${JForumContext.encodeURL("/pm/inbox")}"> 
		    	<!-- Messages -->
				<#if (session.privateMessages > 0)>
					<i class="far fa-envelope" style="color:red" ></i> New messages: (${session.privateMessages})
				<#else>
					<i class="far fa-envelope"></i> Messages
				</#if>
			</a></li>
		    <li><a class="dropdown-item" href="${JForumContext.encodeURL("/posts/listByUser/${session.userId}")}"><i class="far fa-file"></i> My Posts</a></li>
			</#if>

			<#if !logged && !sso>

		    <li> <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal1"> <i class="far fa-arrow-alt-circle-right"></i> Log In / Sign Up </a> </li>
		    </#if>
		    <#if logged>
    	      <#if !sso>

		    	 <li> <a class="dropdown-item" href="${JForumContext.encodeURL("/user/logout")}"> Log out [${session.username}]</a> </li>
 	       	  </#if>
            </#if>

		  </ul>
		</div>
	 </div>
	</nav>
</header>


<div class="container">

<table width="70%" class="table" align="center">

	<tr>
		<td>
			<table cellspacing="0" cellpadding="2" width="100%" align="center">
				<tr>
					<td valign="bottom" align="left">
                        <#if logged><span class="gensmall">${I18n.getMessage("ForumListing.lastVisit")}: ${lastVisit}</span><br /></#if>
                        <span class="gensmall">${I18n.getMessage("ForumListing.date")}: ${now}</span><br />
						<span class="forumlink"><a class="forumlink" href="${JForumContext.encodeURL("/forums/list")}">${I18n.getMessage("ForumListing.forumIndex")}</a></span>
					</td>
					<td class="gensmall" valign="bottom" align="right">&nbsp;
					<#if logged>
						<a class="gensmall" href="${JForumContext.encodeURL("/forums/newMessages")}">${I18n.getMessage("ForumListing.readLastVisitMessages")}</a>
					</#if>
					</td>
				</tr>
			</table>

			<table class="forumline forumlist" cellspacing="1" cellpadding="2" width="100%">
				<tr>
					<th class="thcornerl" nowrap="nowrap" colspan="2">&nbsp;${I18n.getMessage("ForumListing.forums")}&nbsp;</th>
					<th class="thtop" nowrap="nowrap" width="50">&nbsp;${I18n.getMessage("ForumListing.totalTopics")}&nbsp;</th>
					<th class="thtop" nowrap="nowrap" width="50">&nbsp;${I18n.getMessage("ForumListing.totalMessages")}&nbsp;</th>
					<th class="thcornerr" nowrap="nowrap">&nbsp;${I18n.getMessage("ForumListing.lastMessage")}&nbsp;</th>
				</tr>

				<!-- START FORUM LISTING -->
				<#list allCategories as category>
					<tr>
						<td class="catleft"  colspan="2"><span class="cattitle">${category.name?html}</span></td>
						<td class="catright" colspan="3">&nbsp;</td>
					</tr>

					<#list category.getForums() as forum>
					<#assign lpi = forumRepository.getLastPostInfo(forum.id)/>
					<tr>
						<td class="row1" valign="middle" align="center">
						<#if (forum.id == forumTrashcan) >
							<img src="${contextPath}/templates/${templateName}/images/folder_trashcan_big.gif" alt="[Trash Can]" />
						<#else>
							<#if forum.unread>
								<img src="${contextPath}/templates/${templateName}/images/folder_new_big.gif" alt="[New Folder]" />
							<#else>
								<img src="${contextPath}/templates/${templateName}/images/folder_big.gif" alt="[Folder]" />
							</#if>
						</#if>
						</td>
						<td class="row1" width="100%">
							<span class="forumlink"><a class="forumlink" href="${JForumContext.encodeURL("/forums/show/${forum.id}")}">${forum.name?html}</a></span><br />
							<span class="genmed">
								<#if (forum.description?length > 0)>${forum.description?default("")}<#else>&nbsp;</#if>
								<#if forum.isModerated()><br />
									<#assign moderators = forumRepository.getModeratorList(forum.id)/>
									<#if (moderators.size() > 0)>
										${I18n.getMessage("ForumIndex.moderators")}:
										<#list moderators as m>
											<a href="${JForumContext.encodeURL("/user/profile/${m.id}")}">${m.name?html}</a>
										</#list>
									</#if>
								</#if>
							</span>
						</td>
						<td class="row2" valign="middle" align="center"><span class="gensmall">${forum.totalTopics}</span></td>
						<td class="row2" valign="middle" align="center">
							<#assign total = forum.totalPosts/>
							<#if (total == 0 && forum.totalTopics > 0)>
								<#assign total = forum.totalTopics/>
							</#if>
							<span class="gensmall"><#if (total > 0)>${total}<#else>${I18n.getMessage("ForumListing.noMessages")}</#if></span>
						</td>
						<td class="row2" valign="middle" nowrap="nowrap" align="left">
							<span class="postdetails">
							<#if (lpi.postTimeMillis > 0)>
                                                               ${lpi.postDate}
								<#if (lpi.userId > 0)><a href="${JForumContext.encodeURL("/user/profile/${lpi.userId}")}"></#if>${lpi.username}</a><br />

								<#assign startPage = ""/>
								<#if (lpi.topicReplies + 1 > postsPerPage)>
									<#assign startPage = ((lpi.topicReplies / postsPerPage)?int * postsPerPage) +"/"/>
								</#if>

								<#assign url = JForumContext.encodeURL("/posts/list/${startPage}${lpi.topicId}") + "#p" + lpi.postId/>
								<a href="${url}" class="last_title">${lpi.title?html}</a>
								<a href="${url}" class="last_title"><img src="${contextPath}/templates/${templateName}/images/icon_latest_reply.gif" alt="[Latest Reply]" /></a>								
							<#else>
								${I18n.getMessage("ForumListing.noMessages")}
							</#if>
							</span>
						</td>
					</tr>
					</#list>
				</#list>
				<!-- END OF FORUM LISTING -->
			</table>

			<table cellspacing="0" cellpadding="2" width="100%" align="center">
				<tr>
					<td align="left"><span class="gensmall">&nbsp;</span></td>
				</tr>
			</table>

			<table class="forumline table" cellspacing="1" cellpadding="3" width="100%">
				<tr>
					<td class="cathead" colspan="2"><span class="cattitle">${I18n.getMessage("ForumListing.whoIsOnline")}</span></td>
				</tr>
				<tr>
					<td class="row1" valign="middle" align="center" rowspan="2"><img src="${contextPath}/templates/${templateName}/images/whosonline.gif" alt="[Who's Online]"/></td>
					<td class="row1 gensmall" align="left" width="100%">
						${I18n.getMessage("ForumListing.totalMessagesInfo", [ totalMessages ])}<br />
						${I18n.getMessage("ForumListing.registeredUsers", [ totalRegisteredUsers ])}<br />
						${I18n.getMessage("ForumListing.newestUser")} <a href="${JForumContext.encodeURL("/user/profile/${lastUser.id}")}">${lastUser.username}</a>
					</td>
				</tr>
				<tr>
					<td class="row1 gensmall" align="left">
						${I18n.getMessage("ForumListing.numberOfUsersOnline", [ totalOnlineUsers, totalRegisteredOnlineUsers, totalAnonymousUsers ])}&nbsp;&nbsp;
						<br />
						${I18n.getMessage("ForumListing.mostUsersEverOnline", [ mostUsersEverOnline.getTotal(), mostUsersEverOnline.getDate()?string ])}
						<#if showOnline >
							<br />
							${I18n.getMessage("ForumListing.connectedUsers")}:
							<#list userSessions as us>
								<a href="${JForumContext.encodeURL("/user/profile/${us.userId}")}">${us.username}</a>&nbsp;
								<#if us.isAdmin()>
									(${I18n.getMessage("Administrator")})&nbsp;
								<#elseif us.isModerator()>
									({I18n.getMessage("Moderator")})&nbsp;
								</#if>
							</#list>
						</#if>
					</td>
				</tr>
			</table>

		</td>
	</tr>
</table>
<script type="text/javascript">
/* <![CDATA[ */
function limitTitleSize()
{
    $(".last_title").each(function () {
        var value = $(this).text();

        if (value.length > 30) {
            $(this).text(value.substring(0, 30) + "...");
        }
    });
}

$(document).ready(function() {
	limitTitleSize();

});
/* ]]> */
</script>
</td>
</tr>
	<tr>
		<td align="center">
			<span class="copyright">Powered by <a class="copyright" href="https://sourceforge.net/projects/jforum2/" target="_blank">JForum 2.7.0</a> &copy; 2020 JForum Team &bull; Maintained by <a class="copyright" href="https://www.andowson.com/" target="_blank">Andowson Chang</a> and <a class="copyright" href="https://www.ulfdittmer.com/" target="_blank">Ulf Dittmer</a></span>
		</td>
	</tr>
</table>

</div>
<iframe src="/jforum/ping_session.jsp" height="0" width="0" frameborder="0" scrolling="no" title="session keeper"></iframe>
</body>
</html>