
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="-1" />
	<meta name="description" content="here goes the board description" />
	<meta name="keywords" content="some keywords for your board" />
	<link rel="stylesheet" type="text/css" href="/jforum/templates/default/styles/en_US.css" />
	<link rel="stylesheet" type="text/css" href="/jforum/templates/default/styles/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/jforum/templates/default/styles/style.css" />
	<!-- <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'> -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


    <script src = "/jforum/templates/default/js/jquery-3.6.0.min.js"></script>
    <script src = "/jforum/templates/default/js/bootstrap.min.js"></script>
	<title>Generous Gardener Forum</title>
</head>
<body class="en_US">
<!--
Original theme from phpBB (http://www.phpbb.com) subSilver
Created by subBlue design
http://www.subBlue.com

Modifications by JForum Team
-->

<header>

	<nav class="navbar navbar-expand-md navbar-light bg-light">
	  <div class="container">
	  	<a href="http://localhost/jforum/forums/list.page" class="float-start d-none d-lg-inline"><img src="/jforum/templates/default/images/logo.jpg" vspace="1" alt="[Logo]" />
	    </a>
	   <div class="navbar-brand">
		 <a href="http://localhost/jforum/forums/list.page"><h3>Generous Gardener Forum</h3> </a>
	   </div>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			      <span class="navbar-toggler-icon"></span>

			</button>
		    <div class="collapse navbar-collapse" id="navbarSupportedContent">

		      <form class="d-flex">
		        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
		        <button class="btn btn-outline-success" type="submit"><i class="fa fa-search"></i></button>
		      </form>
		      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
<!-- 		        <li class="nav-item">
		          <a class="nav-link active" aria-current="page" href="#">Home</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" href="#">Link</a>
		        </li> -->
		        <li class="nav-item">
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
					  Log In
					</button>

					<!-- Modal -->
					<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					          <h5 class="modal-title" id="exampleModalLabel">Login</h5>
					        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
					      </div>
					      <div class="modal-body">

						      <div>
						        	By continuing, you agree to our User Agreement and Privacy Policy.
						      </div>
						      </br>
						      <form>
								  <div class="mb-3">
								    <label for="exampleInputEmail1" class="form-label">Email address</label>
								    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
								    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
								  </div>
								  <div class="mb-3">
								    <label for="exampleInputPassword1" class="form-label">Password</label>
								    <input type="password" class="form-control" id="exampleInputPassword1">
								  </div>
<!-- 								  <div class="mb-3 form-check">
								    <input type="checkbox" class="form-check-input" id="exampleCheck1">
								    <label class="form-check-label" for="exampleCheck1">Check me out</label>
								  </div> -->

								  <!-- <button type="submit" class="btn btn-primary">Submit</button> -->

								<!-- 2 column grid layout for inline styling -->
								  <div class="row mb-4">
								    <div class="col d-flex justify-content-left">
								      <!-- Checkbox -->
								      <div class="form-check">
								        <input
								          class="form-check-input"
								          type="checkbox"
								          value=""
								          id="form1Example3"
								          checked
								        />
								        <label class="form-check-label" for="form1Example3"> Remember me </label>
								      </div>
								    </div>

								    <div class="col">
								      <!-- Simple link -->
								      <a href="#!">Forgot your password?</a>
								    </div>
								  </div>

								  <!-- Submit button -->
								  <div class="vertical-center">
								    <button type="submit" class="btn btn-primary btn-block">Sign in</button>
								  </div>

								<!-- Register buttons -->
								  <div class="text-center">
								    <p>Not a member? <a href="#!">Register</a></p>
								    <p>or sign up with:</p>
								    <button type="button" class="btn btn-primary btn-floating mx-1">
								      <i class="fab fa-facebook-f"></i>
								    </button>

								    <button type="button" class="btn btn-primary btn-floating mx-1">
								      <i class="fab fa-google"></i>
								    </button>

								    <button type="button" class="btn btn-primary btn-floating mx-1">
								      <i class="fab fa-twitter"></i>
								    </button>

								    <button type="button" class="btn btn-primary btn-floating mx-1">
								      <i class="fab fa-github"></i>
								    </button>
								  </div>



							  </form>
						  </div>
<!-- 					      <div class="modal-footer">
					        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					        <button type="button" class="btn btn-primary">Save changes</button>
					      </div> -->
					    </div>
					  </div>
					</div>
			    </li>
			    <li class="nav-item">
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
					  Sign Up
					</button>

					<!-- Modal -->
					<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
					        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					      </div>
					      <div class="modal-body">
					        ...
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					        <button type="button" class="btn btn-primary">Save changes</button>
					      </div>
					    </div>
					  </div>
					</div>
				</li>

		      </ul>


		    </div>



	  </div>
	</nav>

</header>
<!-- 
  <header>
  	<nav id="header-nav" class="navbar navbar-default">
  	  <div class="container">
		  <div class="row">
		    <div class="col">
			  <a href="http://localhost/jforum/forums/list.page"><img src="/jforum/templates/default/images/logo.jpg" vspace="1" alt="[Logo]" /></a>
		    </div>
		    <div class="col">
			  <span class="mainmenu"><img src="/jforum/templates/default/images/icon_mini_search.gif" alt="[Search]"/> <a id="search" class="mainmenu" href="/jforum/search/filters.page"><b>Search</b></a> &nbsp;
											<img src="/jforum/templates/default/images/icon_mini_recentTopics.gif" alt="[Recent Topics]" /> <a id="latest" class="mainmenu" href="/jforum/recentTopics/list.page">Recent Topics</a> &nbsp;
											<img src="/jforum/templates/default/images/icon_mini_recentTopics.gif" alt="[Hottest Topics]" /> <a id="hottest" class="mainmenu" href="/jforum/hottestTopics/list.page">Hottest Topics</a> &nbsp;
											<img src="/jforum/templates/default/images/icon_mini_recentTopics.gif" alt="[Top Downloads]" /> <a id="topdownload" class="mainmenu" href="/jforum/topDownloads/list.page">Top Downloads</a> &nbsp;
											<img src="/jforum/templates/default/images/icon_mini_groups.gif" alt="[Groups]" /> <a id="backtosite" class="mainmenu" href="http://localhost/jforum/forums/list.page">Back to home page</a>&nbsp;
											<br />
												<img src="/jforum/templates/default/images/icon_mini_register.gif" alt="[Register]" /> <a id="register" class="mainmenu" href="/jforum/user/insert.page">Register</a>&nbsp;/&nbsp;
												<img src="/jforum/templates/default/images/icon_mini_login.gif" alt="[Login]" /> <a id="login" class="mainmenu" href="/jforum/user/login.page">Login</a>&nbsp;
											</span>
		    </div>
		  </div>
	   </div>
  	</nav>
  	
  </header> -->
<div class="container">

<table width="100%" class="table">

	<tr>
		<td>
<!-- 		<script type="text/javascript" src="//code.jquery.com/jquery-3.5.1.min.js"></script>
 -->
		<!-- Banners -->
<!-- 		<P>
		<table width="100%" cellspacing="0" cellpadding="0">
		  <tr>
		    <td width="20%">
		    </td>
		    <td width="60%">
		    </td>
		    <td width="20%">
		    </td>
		  </tr>
		</table>
		<P> -->
<!-- End Banners -->
<!-- 
			<table width="100%" align="center">
			<tr>
				<td width="100%" valign="top"> -->
<!-- 			<table cellspacing="0" cellpadding="2" width="100%" align="center">
				<tr>
					<td valign="bottom" align="left">
                                               
                                               <span class="gensmall">The time now is: 04/15/2021 21:40:47</span><br />
						<span class="forumlink"><a class="forumlink" href="/jforum/forums/list.page">Forum Index</a></span>
					</td>
					<td class="gensmall" valign="bottom" align="right">&nbsp;
					</td>
				</tr> -->
<!-- 			</table>
 -->
			<table class="forumline forumlist" cellspacing="1" cellpadding="2" width="80%">
				<tr>
					<th class="thcornerl" nowrap="nowrap" colspan="2">&nbsp;Forums&nbsp;</th>
					<th class="thtop" nowrap="nowrap" width="50">&nbsp;Topics&nbsp;</th>
					<th class="thtop" nowrap="nowrap" width="50">&nbsp;Messages&nbsp;</th>
					<th class="thcornerr" nowrap="nowrap">&nbsp;Last Message&nbsp;</th>
				</tr>

				<!-- START FORUM LISTING -->
					<tr>
						<td class="catleft"  colspan="2"><span class="cattitle">Category Test</span></td>
						<td class="catright" colspan="3">&nbsp;</td>
					</tr>

					<tr>
						<td class="row1" valign="middle" align="center">
								<img src="/jforum/templates/default/images/folder_big.gif" alt="[Folder]" />
						</td>
						<td class="row1" width="100%">
							<span class="forumlink"><a class="forumlink" href="/jforum/forums/show/1.page">Test Forum</a></span><br />
							<span class="genmed">
								This is a test forum
															</span>
						</td>
						<td class="row2" valign="middle" align="center"><span class="gensmall">1</span></td>
						<td class="row2" valign="middle" align="center">
							<span class="gensmall">1</span>
						</td>
						<td class="row2" valign="middle" nowrap="nowrap" align="left">
							<span class="postdetails">
                                                               12/18/2020 11:00:07
								<a href="/jforum/user/profile/2.page">Admin</a><br />


								<a href="/jforum/posts/list/1.page#p1" class="last_title">Welcome to JForum</a>
								<a href="/jforum/posts/list/1.page#p1" class="last_title"><img src="/jforum/templates/default/images/icon_latest_reply.gif" alt="[Latest Reply]" /></a>								
							</span>
						</td>
					</tr>
					<tr>
						<td class="catleft"  colspan="2"><span class="cattitle">Roses</span></td>
						<td class="catright" colspan="3">&nbsp;</td>
					</tr>

					<tr>
						<td class="row1" valign="middle" align="center">
								<img src="/jforum/templates/default/images/folder_big.gif" alt="[Folder]" />
						</td>
						<td class="row1" width="100%">
							<span class="forumlink"><a class="forumlink" href="/jforum/forums/show/3.page">David Austin</a></span><br />
							<span class="genmed">
								&nbsp;
															</span>
						</td>
						<td class="row2" valign="middle" align="center"><span class="gensmall">18</span></td>
						<td class="row2" valign="middle" align="center">
							<span class="gensmall">25</span>
						</td>
						<td class="row2" valign="middle" nowrap="nowrap" align="left">
							<span class="postdetails">
                                                               03/09/2021 14:48:20
								<a href="/jforum/user/profile/3.page">lxu</a><br />


								<a href="/jforum/posts/list/3.page#p26" class="last_title">abraham darby </a>
								<a href="/jforum/posts/list/3.page#p26" class="last_title"><img src="/jforum/templates/default/images/icon_latest_reply.gif" alt="[Latest Reply]" /></a>								
							</span>
						</td>
					</tr>
				<!-- END OF FORUM LISTING -->
			</table>

			<table cellspacing="0" cellpadding="2" width="80%" align="center">
				<tr>
					<td align="left"><span class="gensmall">&nbsp;</span></td>
				</tr>
			</table>

<!-- 			<table class="forumline" cellspacing="1" cellpadding="3" width="80%">
				<tr>
					<td class="cathead" colspan="2"><span class="cattitle">Who is online</span></td>
				</tr>
				<tr>
					<td class="row1" valign="middle" align="center" rowspan="2"><img src="/jforum/templates/default/images/whosonline.gif" alt="[Who's Online]"/></td>
					<td class="row1 gensmall" align="left" width="100%">
						Our users have posted a total of 26 messages<br />
						We have 5 registered users<br />
						The newest registered user is <a href="/jforum/user/profile/5.page">az</a>
					</td>
				</tr>
				<tr>
					<td class="row1 gensmall" align="left">
						There are 1 online users: 0 registered, 1 guest(s)&nbsp;&nbsp;
						<br />
						Most users ever online was <b>4</b> on 02/09/2021 23:24:55
							<br />
							Connected users:
								<a href="/jforum/user/profile/1.page">Anonymous</a>&nbsp;
					</td>
				</tr>
			</table> -->

<!-- 
			<form name="formlogin" accept-charset="UTF-8" action="/jforum/jforum.page" method="post">
				<input type="hidden" name="module" value="user" />
				<input type="hidden" name="action" value="validateLogin" />
                <input type="hidden" name="OWASP_CSRFTOKEN" value="C52M-E56N-DEEH-TM99-DXG5-5TT3-QCNB-XO5B" />
                
				<table class="forumline" cellspacing="1" cellpadding="2" width="80%">
					<tr>
						<td class="cathead"><a name="login2" id="login2"></a><span class="cattitle">Login</span></td>
					</tr>
					<tr>
						<td class="row1" valign="middle" align="center">
							<span class="gensmall">
								Username: <input class="post" size="10" name="username" type="text"/>
								&nbsp;&nbsp;&nbsp;
								Password: <input class="post" type="password" size="10" name="password" autocomplete="off" />
									&nbsp;&nbsp; &nbsp;&nbsp;
									<label for="autologin">Log me on automatically each visit</label> <input class="text" type="checkbox" name="autologin" id="autologin"/>
								&nbsp;&nbsp;&nbsp;
								<input class="mainoption" type="submit" value="Login" name="login" />
							</span>
						</td>
					</tr>
				</table>
			</form> -->


			<table cellspacing="3" cellpadding="0" align="center">
				<tr>
					<td align="center" width="20"><img src="/jforum/templates/default/images/folder_new.gif" alt="[New Folder]" /></td>
					<td><span class="gensmall">New Messages</span></td>
					<td>&nbsp;&nbsp;</td>
					<td align="center" width="20"><img src="/jforum/templates/default/images/folder.gif" alt="[Folder]" /></td>
					<td><span class="gensmall">No new messages</span></td>
					<td>&nbsp;&nbsp;</td>
					<td align="center" width="20"><img src="/jforum/templates/default/images/folder_lock.gif" alt="[Locked Folder]" /></td>
					<td><span class="gensmall">Blocked Forum</span></td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<script type="text/javascript">
/* <![CDATA[ */
function limitTitleSize()
{
    $(".last_title").each(function () {
        var value = $(this).text();

        if (value.length > 30) {
            $(this).text(value.substring(0, 30) + "...");
        }
    });
}

$(document).ready(function() {
	limitTitleSize();

});
/* ]]> */
</script>
</td>
</tr>
	<tr>
		<td align="center">
			<span class="copyright">Powered by <a class="copyright" href="https://sourceforge.net/projects/jforum2/" target="_blank">JForum 2.7.0</a> &copy; 2020 JForum Team &bull; Maintained by <a class="copyright" href="https://www.andowson.com/" target="_blank">Andowson Chang</a> and <a class="copyright" href="https://www.ulfdittmer.com/" target="_blank">Ulf Dittmer</a></span>
		</td>
	</tr>
</table>

</div>
<iframe src="/jforum/ping_session.jsp" height="0" width="0" frameborder="0" scrolling="no" title="session keeper"></iframe>
</body>
</html>