
<tr>
	<td style="background-color: rgb(228,235,231);">
		<div class="postinfo">
			<div class="date">
				<#assign startStr = ""/>
				<#if (start > 0)><#assign startStr = "${start}/"/></#if>
				<nobr><a href="${JForumContext.encodeURL("/posts/list/${startStr}${post.topicId}")}#p${post.id}">
                               </a> Posted at ${post.formattedTime}
			</div>
		</div>
	</td>
	<td style="background-color:#e5ede8;">
		<div class="postinfo">
		<!-- 	<div class="subject"><b><#if topic.type == TOPIC_WIKI>${I18n.getMessage("PostShow.wiki")} </#if>${I18n.getMessage("PostShow.subject")}:</b> <a name="p${post.id}">${post.subject?default("")}</a></div> -->

			<div class="action">
				<span>
<!-- 				<#if showKarma && karmaEnabled>
					<script type="text/javascript">writeStars(${post.karma.karmaPoints}, ${post.id});</script>
				</#if> -->

				<#if topic.status != STATUS_LOCKED && !readonly && topic.type != TOPIC_WIKI>
				    <a href="#" class="btn btn-counter far" data-count="0" id="heart"><span><i class="fa-heart"></i></span></a>
				    <a href="${JForumContext.encodeURL("/posts/quote/${start}/${post.id}")}" rel="nofollow" class="icon_quote">
						<i class="fas fa-reply fa-lg"></i> </a>
				</#if>

				<#if canEditCurrentMessage>
					<a href="${JForumContext.encodeURL("/${moduleName}/edit/${start}/${post.id}")}" rel="nofollow" class="icon_edit"><i class="fas fa-edit fa-lg"></i></a>  
				</#if>

				<#if canRemove && ((post.userId == session.userId && session.userId != 1) || isModerator)>
					<a href="${JForumContext.encodeURL("/${moduleName}/delete/${start}/${post.id}")}" id="delete${post.id}" onclick="return confirmDelete(${post.id});"><i class="fas fa-trash-alt fa-lg"></i></a>  
				</#if>

<!-- 				<a class="nav" href="#top"><img src="${contextPath}/templates/${templateName}/images/icon_up.gif" alt="[Up]" /></a>
 -->				#${post_index+1+start}
			</span>
			<script>

				$('#heart.btn-counter').on('click', function(event, count) {
					 alert("1 count = " + count);
				  event.preventDefault();
				  
				  var $this = $(this),
				      count = $this.attr('data-count'),
				      active = $this.hasClass('active');
				      $this.attr('data-count', 
                                 active ? --count : ++count).toggleClass('active fas');
				  alert("2 count = " + count);
				});
			</script>
						</div>
		</div>
	</td>
</tr>
