<#include "header.htm"/>

<script type="text/javascript">
/* <![CDATA[ */
<#include "js/utils.js"/>
/* ]]> */
</script>

<div class="container-md">

<table cellspacing="2" cellpadding="2" width="100%" align="center">
    <tr>
      <td align="left"><span class="nav"><a class="nav" href="${JForumContext.encodeURL("/forums/list")}">${I18n.getMessage("ForumListing.forumIndex")}</a></span></td>
    </tr>
</table>

<table class="forumline" cellspacing="1" cellpadding="3" width="100%" align="center">
	<tr>
		<th class="thhead" nowrap="nowrap" colspan="2">${I18n.getMessage("UserProfile.profileFor")} ${u.username}</th>
	</tr>

	<tr>
		<td class="row1" valign="top" align="center" height="6" width="50%">
			<#if showAvatar && (u.avatar?exists && u.avatar?length > 0)>
				<b><span class="gen">${I18n.getMessage("UserProfile.avatar")}</span></b><br />
				<#if u.isExternalAvatar() || u.avatar.startsWith("http://") || u.avatar.startsWith("https://")>
					<#if avatarAllowExternalUrl>
						<img src="${u.avatar?html}" alt="avatar" height="${avatarMaxHeight}" width="${avatarMaxWidth}" /><br />
					</#if>
				<#else>
					<img src="${contextPath}/${avatarPath}/${u.avatar}" alt="avatar" /><br />
				</#if>
			</#if>
			<#assign ranking = rank.getRankTitle(u.rankId, u.totalPosts)/>
			<span class="postdetails">
				<#if (ranking?length > 0)>
					${I18n.getMessage("PostShow.ranking")}: ${ranking?html}
				</#if>
<!-- 				<#if showKarma && karmaEnabled && (u.karma.karmaPoints > 0)>
					<br />${I18n.getMessage("Karma.karma")}: <script type="text/javascript">writeStars(${u.karma.karmaPoints}, ${u.id});</script>
				</#if> -->
			</span>
		</td>

		<td class="row1" valign="top" rowspan="3">
			<table cellspacing="1" cellpadding="3" width="100%">
				<tr>
					<td valign="middle" nowrap="nowrap" align="right"><span class="gen">${I18n.getMessage("UserProfile.registrationDate")}:</span></td>
					<td width="100%"><b><span class="gen">${u.registrationDay}</span></b></td>
				</tr>
				
				<tr>
					<td valign="middle" nowrap="nowrap" align="right"><span class="gen">${I18n.getMessage("UserProfile.totalMessages")}:</span></td>
					<td>
						<#if (nposts > 0)>
							<b><a class="gen" href="${JForumContext.encodeURL("/posts/listByUser/${u.id}")}">[${nposts}] ${I18n.getMessage("PostShow.userPosts")} ${u.username?html}</a> </b>
						<#else>
							<span class="gen">${I18n.getMessage("PostShow.noUserCreatedPosts")}</span>
						</#if>
<!-- 						<#if rssEnabled >
							<a href="${JForumContext.encodeURL("/rss/userPosts/${u.id}")}"><img src="${contextPath}/templates/${templateName}/images/xml_button.gif" border="0" alt="RSS feed" title="RSS feed"/></a>
						</#if> -->
					</td>
				</tr>
				<tr>
					<td valign="middle" nowrap="nowrap" align="right"><span class="gen">${I18n.getMessage("ForumListing.userCreatedTopics")}:</span></td>
					<td >
						<#if (ntopics > 0)>
							<b><a class="gen" href="${JForumContext.encodeURL("/recentTopics/showTopicsByUser/${u.id}")}">[${ntopics}] ${I18n.getMessage("ForumListing.userTopics")?html} ${u.username?html}</a> </b>
						<#else>
							<span class="gensmall">${I18n.getMessage("ForumListing.noUserCreatedTopics")}</span>
						</#if>
						</td>
				</tr>
				
            
				<#if (nposts > 0 && u.biography?exists && u.biography?length > 0)>
				<tr>
					<td valign="top" nowrap="nowrap" align="right"><span class="gen">${I18n.getMessage("UserProfile.biography")}:</span></td>
					<td><b><span class="gen">${u.biography?html}</span></b></td>
				</tr>
				</#if>

			</table>
		</td>
	</tr>
 
	<tr>
		<td class="row1" valign="top" align="middle">
			<#if u.id != 1>
				<table cellspacing="1" cellpadding="3" width="100%">
					<tr>
						<td valign="middle" nowrap="nowrap" align="right"><span class="gen">${I18n.getMessage("UserProfile.privateMessage")}:</span></td>
						<td class="row1" valign="middle">
							<b><span class="gen">
							<a href="${JForumContext.encodeURL("/pm/sendTo/${u.id}")}" class="icon_pm"><i class="far fa-envelope"></i> </a>
							</span></b>
						</td>
					</tr>

					<#if ((isAdmin || u.isViewEmailEnabled()) && u.email?exists && u.email?length > 0)>
						<tr>
							<td valign="middle" nowrap="nowrap" align="right"><span class="gen">${I18n.getMessage("UserProfile.emailAddress")}:</span></td>

							<td class="row1" valign="middle">
								<b><span class="gen">${u.email}</span></b>
						    </td>
						</tr>
					<#else>
						<tr>
							<td valign="middle" nowrap="nowrap" align="right" width=50%><span class="gen">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></td>
							<td class="row1" valign="middle">
								<b><span class="gen">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></b>
						    </td>
						</tr>
					</#if>
				</table>

			</#if>
		</td>
	</tr>
</table>
</div>
<#include "bottom.htm"/>
