img, table { border: 0px; }
font, th, td, p { font-family: verdana, arial, helvetica, sans-serif; }

/* Links */
a:link   { color: #1a5952; text-decoration: none; }
a:active { color: #1a5952; }
a:visited{ color: #1a5952; text-decoration: none; }
/*a:hover  { color: #dd6900; text-decoration: underline; }*/
a:hover  { color: #49968e; text-decoration: underline; }
/*#809b7e
#49968e
rgba(138,188,159,0.5)*/
/* make links in posts stand out */
a.snap_shots:link   { color: #1a5952; text-decoration: underline; }
a.snap_shots:active { color: #1a5952; text-decoration: underline; }
a.snap_shots:visited{ color: #1a5952; text-decoration: underline; }

hr         { border: #dfdfdf 1px solid; height: 0px; }
.bodyline  { 
	/*border: #cccccc 1px solid; */
}
.forumlist { border:#1a5952 2px solid; } 
/*#2d6360*/
.forumline { border:#1a5952 2px solid; } 


/* td */
table.forumlist td.row1 { height: 50px; }
td.row
td.row0 { background-color: rgb(229,237,233); }
/*td.row1 { background-color: rgb(241,245,243); } */
td.row2 { background-color: rgb(247,247,248,0.2); }   /*#f7f7f8*/
td.row3, td.row3right{ background-color: rgba(223,223,223,0.2); }  /*#dfdfdf*/
td.row4 {background-color: rgb(238,241,239);}
td.spacerow     { height: 1px; background-color: rgb(110,148,142); border:none; padding:0;}
/*td.row1announce { background-color: #fff8dd; }
td.row1sticky   { background-color: #efefef; }
td.row2announce { background-color: #f5ecd4; }
td.row2sticky   { background-color: #dee3e7; }
td.row3announce { background-color: #efe0c3; }
td.row3sticky   { background-color: #d1d7dc; }
td.rowpic       { background-color: #ffffff; background-image: url(../images/cellpic2.jpg); background-repeat: repeat-y; }*/
/*td {background-color: #e5ede8;}*/

.topic_list tr:nth-child(even){
background-color: #e5ede8;
}


th, td { border: #ffffff 1px none; }
/*Forum Topics Messages Last message color*/
th { font-weight: bold; font-size: 11px; text-align: center; color: #e5ede8; height: 25px;
	background-color: #2d6360; 
	/*background-image: url(../images/cellpic3.gif); */
}
td.cat, td.cathead, td.catsides, td.catleft, td.catright, td.catbottom { height: 28px; 
	background-color: #e5ede8; 
	/*background-image: url(../images/cellpic1.gif); */
}
th.thhead, th.thtop, th.thcornerl, th.thcornerr, td.cathead	{ border-top-style:		solid; }
th.thhead, th.thsides, th.thbottom, td.catsides, td.cathead, td.catbottom, 
	th.thright, th.thcornerr, td.catright, td.row3right		{ border-right-style:	solid; }
th.thhead, th.thsides, th.thbottom, td.catsides, td.cathead, td.catbottom, 
	th.thleft, th.thcornerl, td.catleft						{ border-left-style:	solid; }
th.thbottom, td.catbottom									{ border-bottom-style:	solid; }
th.thhead, td.cathead { font-size: 12px; }
th.thsides { height: 12px; }

.maintitle, .boardtitle { font-weight: bold; font-size: 18px; color: #000000; line-height: 120%; font-family: "trebuchet ms",verdana, arial, helvetica, sans-serif; text-decoration: none }
.boardtitle { font-size: 22px; }

.gen, .poll { font-size: 12px }
.genmed, .name { font-size: 11px; color:#1a5952;}
.gensmall, .postdetails { font-size: 10px; color:#1a5952;}
.strong { font-weight: bold; }

.mainmenu { font-size: 11px; color: #000000 }
.cattitle { font-weight: bold; font-size: 12px; color: #1a5952; letter-spacing: 1px; }
.forumlink { font-weight: bold; font-size: 12px; color: #1a5952; }
.nav, .topictitle { font-weight: bold; font-size: 11px; color: #000000; }

blockquote {
	background:#E1EBF2 none no-repeat scroll 6px 8px;
	border:1px dashed #DBDBDB;
	font-size:0.95em;
	margin:0.5em 10px 0pt 10px;
	overflow:hidden;
	padding:5px;
}

blockquote {
	background-color:#E1EBF2;
	background-image:url(../images/quote.gif);
	border-color:#DBDBCE;
}

blockquote cite {
	display:block;
	font-size:0.9em;
	font-style:normal;
	font-weight:bold;
	margin-left:20px;
}

blockquote.uncited {
	padding-top:25px;
}

.pre-error { font-size: 1em; color: #000000; font-family: verdana, arial, helvetica, sans-serif; background-color: #fafafa; border: 0; padding-left: 0; }
.copyright { font-size: 10px; color: #444444; font-family: verdana, arial, helvetica, sans-serif; letter-spacing: -1px }

/* posts */
.postbody { font-size: 12px; line-height: 1.5em; }

.postinfo { font-size: 10px; color: #000000; background-color: #e5ede9; padding-right: 5px; height: 2em; }
.postinfo .date { float: left; }
.postinfo .subject { float: left; }
.postinfo .action { float: right; }

.center {
  text-align: center;
}


.fa {
    font-size: 12px;
}

.form-control-sm {
    height: calc(1.5em + .5rem + 2px);
    padding: .25rem .5rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .2rem;
}
.fa-sm {
	font-size:1rem;

}
.navbar-nav > li{
  padding-left:6px;
  padding-right:6px;
}

li {
    background-color: black;
}
li:nth-child(odd) {
    background-color: #fafafa; font-size: 12px; line-height: 1.5em;
}
li:nth-child(even) {
    background-color: #f7f7f8; font-size: 12px; line-height: 1.5em;
}


body {
  /*background-image: url('../images/logo.jpg');*/
/*  background: rgba(237,244,240,0.9);
  background: rgba(217,225,205,1);*/
  /*background: rgba(229,237,232,1);*/
  background-color: rgb(241,245,243)/*rgba(229,237,232,0.5)*/;
  /*background-color:#2d6360;*/

  /*background-color: #fff;*/

}


.rosetable {width: 100%}

.rosetable tr {
    transition: background 0.2s ease-in; font-size: 12px;
}

.rosetable tr:nth-child(odd) {
    background: #fafafa; font-size: 12px;
}

.rosetable tr:hover {
    background: #f7f7f8; font-size: 12px;
    cursor: pointer;
}


/**HEADER**/
.navbar .navbar-light{
	background-color: #fff;
}
/*#header-nav {
	background-color: #fff !important;
	border-radius: 0;
	border: 0;
}*/

.navbar-brand {
	padding-top: 25px;
}

.navbar-brand {
	color: #1a5952;
	/*color:rgba(26,89,82,0.1);*/
	font-size: 1.2em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 10px;
	line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
	color: #809b7e !important;
}



.navbar-brand nav-item {
	font-size: 2em;
}



/*.container{
  background-color:rgba(229,237,232,1);
  padding-bottom:10px;
}
.stripe {
  background-color:#988F5E;
  position: relative;
  display: grid;
}
.stripe:before {
  content:"";
  background-color:#988F5E;
  position: absolute;
  height: 100%;
  width: 200vw;
  left: -100vw;
  z-index: -1;
}
*/


/*****medium devices and above********/
@media (min-width: 992px) {
	.container-md {
		max-width: 970px;
		/*background: rgba(229,237,232,1);*/


	}
}

/*****small devices and below********/
@media (max-width: 991px){
	.container-md{
		max-width:100%;
	}
}


/*****Medium devices and below********/
@media (max-width: 1199px) {
	.forum_name { /* Forum name */
		font-size: 2vw;
		padding-bottom: 0px;
	}
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px){
	.forum_name{
		padding-top: 0px;
        font-size: 1.9vw;
     }	

     .btn-sm {height: 4vh;}
}

/********** Extra small devices only **********/
@media (max-width: 767px){
	.forum_name{
		padding-top: 0px;
        font-size: 3vw;
     }
}


#raquo {
	color:#1a5952;
}


/*.topic_list td:nth-child(even){
background-color: rbga(247,247, 248,0.5);
}*/

@TableStripe: linear-gradient(0,rgba(0,0,0,0.07),rgba(0,0,0,0.07));

.is-striped { background-image: @TableStripe; }

@media all and (max-width: @breakpoint) {
  .Rtable--stripe {
    .is-striped { background-image: none; }
    .Rtable-cell:nth-child(even) { background-image: @TableStripe; }
  }
}


tr.spaceUnder>td {
  padding-top: 0.8em;
}

.rosewiki {
    margin-left: auto;
    width: 50%;
    border-spacing: 10px;}

.row {
    margin-left: auto;
    margin-right: auto;
    
    }
    
.row:last-child {
    margin-bottom: 0;}
    
    
.row .col.m6{
    width: 50%;
    left: auto;
    margin-left: auto;
    right: auto;}
    
    .col{
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-top: 0px;
    padding-right: 0.5rem;
    padding-bottom: 0px;
    padding-left: 0.5rem;
    }
    
    .col.xs12{
    width: 100%;
    }

.template-product__aside{
    padding-left: .125rem;
    width: 100%;
    }

.template-product__aside *, :after, :before, html {
    box-sizing: border-box;
    }



a.copyright { color: #444444; text-decoration: none; }
a.copyright:hover { color: #000000; text-decoration: underline; }
input, textarea, select { border: 1px solid #ccc; font: 11px verdana, arial, helvetica, sans-serif; color: #1a5952; }
textarea { width: 100%; }
input { text-indent: 2px; }
input[type='checkbox'], input[type='radio'] { border-style: none; }

input.button, input.mainoption, input.liteoption, .inlineedit input { 
	font-size: 11px; 
	color: #1a5952; 
	font-family: 
	verdana, arial, helvetica, sans-serif; 
	background: #fafafa none repeat-x scroll center top; 
	background-image: url(../images/button.gif);
	cursor: pointer;
}

input.button:hover, input.mainoption:hover, input.liteoption:hover, .inlineedit input:hover {
	background-image: url(../images/button_hover.gif);
}

input[type="submit"]:disabled, input[type="button"]:disabled, input[type="reset"]:disabled {
	font-size: 11px; 
	color: gray; 
	font-family: 
	verdana, arial, helvetica, sans-serif; 
	background: #f5f5f5 none repeat-x scroll center top; 
	background-image: url(../images/button.gif);
	cursor: pointer;
	border-color: #dedede #bfbfbf #bfbfbf #dedede;
}

.helpline { background-color: #f7f7f8; border: 0px; font-weight: bold; font-style: italic; color: green; }

input[type='text']:hover, input[type='text']:focus, 
	input[type='password']:hover, input[type='password']:focus, 
	textarea:focus, textarea:hover, 
	select:hover, select:focus { border-style:inset; }

.moderatortitle { font-weight: bold; font-size: 12px; color: #ffa34f; }
.moderator { font-size: 10px; color: #006600; }
.admin { font-size: 10px; color: #ffa34f; }
.online { color: #006600; }
.offline { color: #ff0000; }

.bg_yellow { background-color:#ffeea7; }
.moderation_highlight, .bg_small_yellow { background-color: #fff8dd; }

td.attachrow		{ font: normal 11px verdana, arial, helvetica, sans-serif; color : #000000; border-color : #000000; border: 1px; border-style: solid; }
td.attachheader     { font: normal 11px verdana, arial, helvetica, sans-serif; color : #000000; border-color : #000000; background-color: #d1d7dc; border: 1px; border-style: solid; }
table.attachtable	{ font: normal 12px verdana, arial, helvetica, sans-serif; color : #000000; border-color : #000000;	border-collapse : collapse; border: 1px; border-style: solid; }

.inputSearchForum {
	background-image: url(../images/icon_mini_search.gif);
	background-position:left 1px;
	background-repeat:no-repeat;
	padding-left:17px;
}

/* highlighting search results */
.sr {
	color: #ff0000;
	text-decoration: underline;
	font-weight: bold;
}

#icon_saving { background-image: url(../images/indicator.gif); width: 16px; height: 16px; display: none;}
.icon_folder_announce { background-image: url(../images/folder_announce.gif); width: 19px; height: 18px; display: inline; }
.icon_folder_sticky { background-image: url(../images/folder_sticky.gif); width: 19px; height: 18px; display: inline; }
.icon_folder_wiki { background-image: url(../images/folder_wiki.gif); width: 19px; height: 18px; display: inline; }
.icon_folder_hot { background-image: url(../images/folder_hot.gif); width: 19px; height: 18px; display: inline; }
.icon_folder { background-image: url(../images/folder.gif); width: 19px; height: 18px; display: inline; }
.icon_folder_lock { background-image: url(../images/folder_lock.gif); width: 19px; height: 18px; display: inline; }
.icon_folder_announce_new { background-image: url(../images/folder_announce_new.gif); width: 19px; height: 18px; display: inline; }
.icon_folder_sticky_new { background-image: url(../images/folder_sticky_new.gif); width: 19px; height: 18px; display: inline; }
.icon_folder_wiki_new { background-image: url(../images/folder_wiki_new.gif); width: 19px; height: 18px; display: inline; }
.icon_folder_new_hot { background-image: url(../images/folder_new_hot.gif); width: 19px; height: 18px; display: inline; }
.icon_folder_new { background-image: url(../images/folder_new.gif); width: 19px; height: 18px; display: inline; }
.icon_folder_lock_new { background-image: url(../images/folder_lock_new.gif); width: 19px; height: 18px; display: inline; }
.icon_vote_lcap { background-image: url(../images/vote_lcap.gif); width: 4px; height: 12px; display: inline; }
.icon_vote_rcap { background-image: url(../images/vote_rcap.gif); width: 4px; height: 12px; display: inline; }
.icon_topic_delete { background-image: url(../images/topic_delete.gif); width: 19px; height: 18px; display: inline; }
.icon_topic_move { background-image: url(../images/topic_move.gif); width: 19px; height: 18px; display: inline; }
.icon_topic_unlock { background-image: url(../images/topic_unlock.gif); width: 19px; height: 18px; display: inline; }
.icon_topic_lock { background-image: url(../images/topic_lock.gif); width: 19px; height: 18px; display: inline; }
.icon_latest_reply { background-image: url(../images/icon_latest_reply.gif); width: 18px; height: 9px; display: inline; }


/* Default buttons, in English. For localized ones, see <locale_name>.css in the "styles" directory */
.icon_new_topic img { background-image: url(../images/en_US/post.gif); width: 82px; height: 25px; }
.icon_reply img { background-image: url(../images/en_US/reply.gif); width: 82px; height: 25px; }
.icon_reply_locked img { background-image: url(../images/en_US/reply_locked.gif); width: 82px; height: 25px; }
.icon_quote img { background-image: url(../images/en_US/icon_quote.gif); width: 59px; height: 18px; }
.icon_edit img { background-image: url(../images/en_US/icon_edit.gif); width: 59px; height: 18px; }
.icon_profile img { background-image: url(../images/en_US/icon_profile.gif); width: 59px; height: 18px; }
.icon_pm img { background-image: url(../images/en_US/icon_pm.gif); width: 59px; height: 18px; }

/*CSS Sabrosus style pagination*/
.pagination {
	padding:3px;
	margin:3px;
	font-size: 10px;
	font-weight: bold;
	font-family: Arial, Times;
}

.pagination a {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #1a5952;
	text-decoration: none; 
	color: #1a5952;
}
.pagination a:hover, .pagination a:active {
	border: 1px solid rgba(26,89,82,0.5);
	color: #1a5952;
	background-color: #fff;
	text-decoration: none;
}
.pagination .current {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid navy;
	font-weight: bold;
	background-color: #1a5952;
	color: #FFF;
}
.pagination .disabled {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #929292;
	color: #929292;
}

#goToBox {
	position:absolute; 
	display:none; 
	border: 1px solid black;
	background-color: #fafafa; 
	padding: 2px;
	width: 190px;
}

#goToBox .title {
	padding: 1px;
	background-color: #dd6900;
	text-align: center;
	font-weight: bold;
	font-size: 10px;
	color: #1a5952;
}

#goToBox .form {
	padding: 5px;
	text-align: left;
}

#goToBox .form input {
	font-weight: bold;
}

/*likes counter start*/
/*
 * Basic button style
 */
 #heart .fa-heart { 
font-style: normal;}

#heart { 
text-decoration: none;}

#heart.btn {
  font-size: 25px;
    color:black;
      position: relative;
}
/*
 * Counter button style
 */
#heart.btn-counter { margin-right: 39px; }
#heart.btn-counter:after,
#heart.btn-counter:hover:after { text-shadow: none; }
#heart.btn-counter:after {  
  content: attr(data-count);
  /*left: 100%;*/
  margin-left: 8px;
  margin-right: -13px;
  position: absolute;
  top: -1px;
  color: black
}
#heart.btn-counter:before {
  content: '';
  position: absolute;
  right: -13px;
  top: 5px;

}
/*
 * Custom styles
 */
#heart.btn {
  color:black;
}
#heart.btn:hover,
#heart.btn:active {  }
#heart.btn:hover, 
#heart.btn.active{
    font-size: 25px;
    color:red;}



/*likes counter end*/



blockquote dl.codebox code { font-size: 1.0em; }
input.subject, textarea.message { width: 100%; }
.postTabContents { padding-top: 24px; }
.postTabContents div { background-color: #E5EDF3; }

/* Admin search_stats_list.htm  */
.bottomLine {
	border-bottom: 1px solid #000;
}

.leftLine {
	border-left: 1px solid #000;
}

.announcementBar {
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    font-size: small;
}

.error {
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
	color: #FF0000;
}





